body {
  margin:0;
  padding:0;
  height: 100%;
  background: #e8f7ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  margin:0;
  padding:0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rowNum-0 {
  background: #cacaca;
}

#row-21-col-12 {
  background: green;
}

#grid {

  background: #f3f3f3;
  position: absolute;
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0);
  width:50%;
  top:2.5%;
  bottom:2.5%;
  left: 70%;

  transform: translate(-50%, 0);
}

#grid th {
  width:20px;
  background: #9cb6df;
  outline: 1px solid black;
}
#grid h6 {
  padding: 0;
  margin: 0;
}
#grid tr {
    width:20px;
    height:5px;
    overflow:hidden;
    outline: 1px solid black;
}
#grid td {
  width:20px;

  overflow:hidden;
  outline: 1px solid black;
}


.black {
  background: black;;
}

.green {
   background: rgb(188, 252, 175);
}
.Cell {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.sidebar {
  margin: 0;
  top: 0px;
  padding: 0;
  width: 125px;
  background-color: #4c87e6;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right:4px solid black;
}

.page {
  top:2%;
  width:85%;
  left:2.6%;

  bottom:2%;
  /* left: 100px; */
  position: fixed;
  margin-left:135px;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding: 0;
  background: #f3f3f3;
  background: rgb(251,240,201);
  border:4px solid black;
  overflow: scroll;

  /* transform: translate(-50%, 50%); */
}

.addJournal {
  font-size: 80px;
  padding:0;
  margin:0;
  color:rgb(37, 37, 37);
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.userCircle {
  font-size: 40px;
  padding:0;
  margin:0;
  width:100%;
  background:rgb(137, 194, 211);
  color:rgb(37, 37, 37);
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.listJournals {

  padding:0;
  margin:0;
  width:100%;

  color:rgb(37, 37, 37);
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0%);
}

.listJournals ul {
  list-style-type:none;
  text-align: center;
  padding-left: 0;
}
.listJournals li {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  background:  rgba(0,0,0, 0.5);
}
.page-main {
  margin: 0;
  padding: 0;
  background: rgb(251,240,201);

}
.page-root {
  margin: 0;
  padding: 0;
  background: #b7cae8;
  height:100%;
  width: 100%;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  overflow: auto  ;

  border-radius: 10px;
  background: white;
}

.keylist {
  list-style-type: none;
  position: relative;

}

/* The container needs to be relatively positioned */
.keyitem {
  position: relative;
}

/* The legend is absolutely positioned, but in relation to its
 * container.
 * We also apply a common trick to place it at the vertical center of
 * its parent: position the top bound at 50% of the parent's height.
 * then transform the position to move it up by 50% of its own height.
 */
.legend {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  width: 1em;
  height: 1em;
  background-color: lightblue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* This div is decisive for the whole thing's height.
 * Since the legend is positioned in an absolute way, we need to make
 * room for it by moving this div to the right (margin-left)
 */
.legend-text {
  margin-left: 1em;
  padding: 5px;
  display: inline-block;
}

.addjournal h3 {
  padding: 0px;
  margin:0px;
}